In [1]:
import pandas as pd
import statistics 
import numpy as np

In [2]:
def build_str(grouped_user):
    df_users = {}

    for i,j in zip(grouped_user.index.tolist(), grouped_user.values.tolist()):
        df_users[i] = len(j) 
        
    return df_users

In [3]:
def get_values(df_users):
    maximum = max(df_users, key=df_users.get)
    minimum = min(df_users, key=df_users.get)
    max_items_per_user = df_users[maximum]
    min_items_per_user = df_users[minimum]
    avg_items_per_user = statistics.mean(list(df_users.values()))
    median_items_per_user = statistics.median(list(df_users.values()))
    
    return max_items_per_user, min_items_per_user, round(avg_items_per_user,3), median_items_per_user

In [4]:
def lenght_list_value(lista, value):
    return len([x for x in lista if x >= value])

In [5]:
def atleast_ratings(df_users):
    values = list(df_users.values())
    
    return lenght_list_value(values, 10), lenght_list_value(values, 50), lenght_list_value(values, 100)

In [6]:
ml_original = pd.read_csv('u.csv')

training = pd.read_csv('trainset.csv')
training.columns = ['user', 'item', 'rating', 'timestamp']

evaluation = pd.read_csv('predicted_values.csv')
evaluation.columns = ['user', 'item', 'rating', 'timestamp']

evaluation_estrat = pd.read_csv('testset_estratificado.csv')
evaluation_estrat.columns = ['user', 'item', 'rating', 'timestamp']

evaluation_estrat_r = pd.read_csv('testset_stratified_random.csv')
evaluation_estrat_r.drop(['predicted', 'list_size', 'avg_rating_1', 'avg_rating_2', 'avg_rating_3', 'avg_rating_4', 'avg_rating_5','avg_rating_6', 'avg_rating_7', 'avg_rating_8', 'avg_rating_9', 'avg_rating_10', 'diff_1', 'diff_2', 'diff_3', 'diff_4', 'diff_5', 'diff_6', 'diff_7', 'diff_8', 'diff_9', 'diff_10'], axis=1, inplace=True)
evaluation_estrat_r.columns = ['user', 'item', 'rating']#, 'timestamp']

ml_imdb = pd.merge(training, evaluation, how='outer')

datasets = [ml_original, ml_imdb, training, evaluation, evaluation_estrat, evaluation_estrat_r]

C:\Users\marta\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1155: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

In [7]:
tr_4 = training[training['rating']>=4]
tr_4

       user  item  rating   timestamp
0         1     1     4.0   964982703
1         1    47     5.0   964983815
2         1    50     5.0   964982931
4         1   101     5.0   964980868
5         1   110     4.0   964982176
...     ...   ...     ...         ...
10323   610   480     5.0  1479545821
10326   610   541     5.0  1493850255
10327   610   589     5.0  1479542983
10328   610   592     4.5  1479545848
10329   610   593     4.5  1479545819

[5440 rows x 4 columns]

In [8]:
for d in datasets:
    print(d)

       user  item  rating  timestamp
0       196   242       3  881250949
1       186   302       3  891717742
2        22   377       1  878887116
3       244    51       2  880606923
4       166   346       1  886397596
...     ...   ...     ...        ...
99995   880   476       3  880175444
99996   716   204       5  879795543
99997   276  1090       1  874795795
99998    13   225       2  882399156
99999    12   203       3  879959583

[100000 rows x 4 columns]
       user  item  rating     timestamp
0         1     1     4.0  9.649827e+08
1         1    47     5.0  9.649838e+08
2         1    50     5.0  9.649829e+08
3         1    70     3.0  9.649824e+08
4         1   101     5.0  9.649809e+08
...     ...   ...     ...           ...
11472   608   596     0.5  2.609047e+00
11473   609   161     3.0  3.188946e+00
11474   609   329     3.0  3.140650e+00
11475   610   356     3.0  4.921249e+00
11476   610   367     3.5  4.178300e+00

[11477 rows x 4 columns]
       user  item  rating   timestamp
0         1     1     4.0   964982703
1         1    47     5.0   964983815
2         1    50     5.0   964982931
3         1    70     3.0   964982400
4         1   101     5.0   964980868
...     ...   ...     ...         ...
10325   610   527     3.5  1479545826
10326   610   541     5.0  1493850255
10327   610   589     5.0  1479542983
10328   610   592     4.5  1479545848
10329   610   593     4.5  1479545819

[10330 rows x 4 columns]
      user  item  rating  timestamp
0        1   223     3.0   3.611623
1        1   349     4.0   4.004865
2        1   527     5.0   4.146800
3        3   527     0.5   3.610407
4        4   357     3.0   2.097807
...    ...   ...     ...        ...
1142   608   596     0.5   2.609047
1143   609   161     3.0   3.188946
1144   609   329     3.0   3.140650
1145   610   356     3.0   4.921249
1146   610   367     3.5   4.178300

[1147 rows x 4 columns]
     user  item  rating   timestamp
0      58   344     1.0   847718434
1      68   357     1.0  1240092554
2      68   420     1.0  1158533188
3      71    17     1.0   864737933
4      81   367     1.0   845299844
..    ...   ...     ...         ...
275   603   175     5.0   963180153
276   604   327     5.0   832080980
277   604   593     5.0   832080562
278   606   527     5.0  1171231423
279   606   541     5.0  1171325962

[280 rows x 4 columns]
       user  item  rating
0        14    19     1.0
1        58    19     1.0
2        58   344     1.0
3        68   357     1.0
4        68   420     1.0
...     ...   ...     ...
27995   573    47     5.0
27996   589   590     5.0
27997   603   175     5.0
27998   604   327     5.0
27999   604   593     5.0

[28000 rows x 3 columns]

In [9]:
# rat_1 = len(ml_original[ml_original['rating']<=1])
# rat_2 = len(ml_original[(ml_original['rating']>1) & (ml_original['rating']<=2)])
# rat_3 = len(ml_original[(ml_original['rating']>2) & (ml_original['rating']<=3)])
# rat_4 = len(ml_original[(ml_original['rating']>3) & (ml_original['rating']<=4)])
# rat_5 = len(ml_original[(ml_original['rating']>4) & (ml_original['rating']<=5)])

# leng_rats = rat_1 + rat_2 + rat_3 + rat_4 + rat_5
# print(leng_rats)

In [10]:
results = list()
for d in datasets:
    
    items = d.item.unique()
    users = d.user.unique()
    
    num_ratings = len(d)
    num_items = len(items)
    num_users = len(users)
    density = round(num_ratings/(num_items*num_users),3)
    
    print('--------------------------')
    print('Ratings: ' + str(num_ratings))
    print('Items: ' + str(num_items))
    print('Users: ' + str(num_users))
    print('Density: ' + str(density))
    
    
    ######### ITEMS 
    
    grouped_user = d.groupby('item')['user'].apply(list)
    
    # diccionario que va a contener como key el item, como value, el numero de users con los que ha interactuado
    df_users = build_str(grouped_user)
        
    max_items_per_item, min_items_per_item, avg_items_per_item, median_items_per_item = get_values(df_users)
    
    print('Maximum # ratings per item: ' + str(max_items_per_item))
    print('Median # ratings per item: ' + str(median_items_per_item))
    print('Average # ratings per item: ' + str(avg_items_per_item))
    print('Minimum # ratings per item: ' + str(min_items_per_item))
    
    tenratings_item, fiftyratings_item, ohratings_item = atleast_ratings(df_users)
    
    print('# Items with at least 10 ratings: ' + str(tenratings_item))
    print('# Items with at least 50 ratings: ' + str(fiftyratings_item))
    print('# Items with at least 100 ratings: ' + str(ohratings_item))
    
    ###### USERS
    
    grouped_user = d.groupby('user')['item'].apply(list)
    
    # diccionario que va a contener como key el user, como value, el numero de items con los que ha interactuado
    df_users = build_str(grouped_user)
        
    max_items_per_user, min_items_per_user, avg_items_per_user, median_items_per_user = get_values(df_users)
    
    print('Maximum # ratings per user: ' + str(max_items_per_user))
    print('Median # ratings per user: ' + str(median_items_per_user))
    print('Average # ratings per user: ' + str(avg_items_per_user))
    print('Minimum # ratings per user: ' + str(min_items_per_user))
    
    
    tenratings_user, fiftyratings_user, ohratings_user = atleast_ratings(df_users)
    
    print('# Users with at least 10 ratings: ' + str(tenratings_user))
    print('# Users with at least 50 ratings: ' + str(fiftyratings_user))
    print('# Users with at least 100 ratings: ' + str(ohratings_user))
    
    
    ########### RATINGS
#     d_mayorigual_4 = round(len(d[d['rating']>=4])*100 / num_ratings,3)
#     d_menor_4 = round(len(d[d['rating']<4])*100 / num_ratings,3)
    
#     print('% Ratings with value greater than or equal to 4: ' + str(d_mayorigual_4))
#     print('% Ratings with value lower than 4: ' + str(d_menor_4))

    d_ratin_1 = round(len(d[d['rating']<=2])*100 / num_ratings,3)
    #d_ratin_2 = round(len(d[(d['rating']>1) & (d['rating']<=2)])*100 / num_ratings,3)
    d_ratin_3 = round(len(d[(d['rating']>2) & (d['rating']<=3)])*100 / num_ratings,3)
    d_ratin_4 = round(len(d[(d['rating']>3) & (d['rating']<=4)])*100 / num_ratings,3)
    d_ratin_5 = round(len(d[(d['rating']>4) & (d['rating']<=5)])*100 / num_ratings,3)
                            
    
#     print('% Ratings with value greater than or equal to 4: ' + str(d_mayorigual_4))
#     print('% Ratings with value lower than 4: ' + str(d_menor_4))

    
#    results.append([num_ratings,num_items,num_users,density,max_items_per_item,median_items_per_item,avg_items_per_item,min_items_per_item,tenratings_item,fiftyratings_item,ohratings_item,max_items_per_user,median_items_per_user,avg_items_per_user,min_items_per_user,tenratings_user,fiftyratings_user,ohratings_user,d_mayorigual_4,d_menor_4])

    results.append([num_ratings,num_items,num_users,density,max_items_per_item,median_items_per_item,avg_items_per_item,min_items_per_item,tenratings_item,fiftyratings_item,ohratings_item,max_items_per_user,median_items_per_user,avg_items_per_user,min_items_per_user,tenratings_user,fiftyratings_user,ohratings_user,d_ratin_1,d_ratin_3,d_ratin_4,d_ratin_5])

--------------------------
Ratings: 100000
Items: 1682
Users: 943
Density: 0.063
Maximum # ratings per item: 583
Median # ratings per item: 27.0
Average # ratings per item: 59.453
Minimum # ratings per item: 1
# Items with at least 10 ratings: 1152
# Items with at least 50 ratings: 603
# Items with at least 100 ratings: 338
Maximum # ratings per user: 737
Median # ratings per user: 65
Average # ratings per user: 106.045
Minimum # ratings per user: 20
# Users with at least 10 ratings: 943
# Users with at least 50 ratings: 568
# Users with at least 100 ratings: 364
--------------------------
Ratings: 11477
Items: 164
Users: 587
Density: 0.119
Maximum # ratings per item: 329
Median # ratings per item: 43.5
Average # ratings per item: 69.982
Minimum # ratings per item: 1
# Items with at least 10 ratings: 146
# Items with at least 50 ratings: 78
# Items with at least 100 ratings: 45
Maximum # ratings per user: 128
Median # ratings per user: 12
Average # ratings per user: 19.552
Minimum # ratings per user: 1
# Users with at least 10 ratings: 325
# Users with at least 50 ratings: 58
# Users with at least 100 ratings: 3
--------------------------
Ratings: 10330
Items: 164
Users: 584
Density: 0.108
Maximum # ratings per item: 305
Median # ratings per item: 39.0
Average # ratings per item: 62.988
Minimum # ratings per item: 1
# Items with at least 10 ratings: 143
# Items with at least 50 ratings: 73
# Items with at least 100 ratings: 34
Maximum # ratings per user: 113
Median # ratings per user: 11.0
Average # ratings per user: 17.688
Minimum # ratings per user: 1
# Users with at least 10 ratings: 316
# Users with at least 50 ratings: 39
# Users with at least 100 ratings: 3
--------------------------
Ratings: 1147
Items: 145
Users: 394
Density: 0.02
Maximum # ratings per item: 30
Median # ratings per item: 5
Average # ratings per item: 7.91
Minimum # ratings per item: 1
# Items with at least 10 ratings: 45
# Items with at least 50 ratings: 0
# Items with at least 100 ratings: 0
Maximum # ratings per user: 15
Median # ratings per user: 2.0
Average # ratings per user: 2.911
Minimum # ratings per user: 1
# Users with at least 10 ratings: 8
# Users with at least 50 ratings: 0
# Users with at least 100 ratings: 0
--------------------------
Ratings: 280
Items: 109
Users: 134
Density: 0.019
Maximum # ratings per item: 10
Median # ratings per item: 2
Average # ratings per item: 2.569
Minimum # ratings per item: 1
# Items with at least 10 ratings: 1
# Items with at least 50 ratings: 0
# Items with at least 100 ratings: 0
Maximum # ratings per user: 11
Median # ratings per user: 1.0
Average # ratings per user: 2.09
Minimum # ratings per user: 1
# Users with at least 10 ratings: 2
# Users with at least 50 ratings: 0
# Users with at least 100 ratings: 0
--------------------------
Ratings: 28000
Items: 145
Users: 391
Density: 0.494
Maximum # ratings per item: 769
Median # ratings per item: 134
Average # ratings per item: 193.103
Minimum # ratings per item: 9
# Items with at least 10 ratings: 143
# Items with at least 50 ratings: 106
# Items with at least 100 ratings: 83
Maximum # ratings per user: 702
Median # ratings per user: 49
Average # ratings per user: 71.611
Minimum # ratings per user: 6
# Users with at least 10 ratings: 367
# Users with at least 50 ratings: 195
# Users with at least 100 ratings: 86

In [11]:
print(results)

[[100000, 1682, 943, 0.063, 583, 27.0, 59.453, 1, 1152, 603, 338, 737, 65, 106.045, 20, 943, 568, 364, 17.48, 27.145, 34.174, 21.201], [11477, 164, 587, 0.119, 329, 43.5, 69.982, 1, 146, 78, 45, 128, 12, 19.552, 1, 325, 58, 3, 11.362, 28.204, 35.706, 24.728], [10330, 164, 584, 0.108, 305, 39.0, 62.988, 1, 143, 73, 34, 113, 11.0, 17.688, 1, 316, 39, 3, 11.346, 28.141, 35.799, 24.714], [1147, 145, 394, 0.02, 30, 5, 7.91, 1, 45, 0, 0, 15, 2.0, 2.911, 1, 8, 0, 0, 11.508, 28.771, 34.874, 24.847], [280, 109, 134, 0.019, 10, 2, 2.569, 1, 1, 0, 0, 11, 1.0, 2.09, 1, 2, 0, 0, 25.0, 25.0, 25.0, 25.0], [28000, 145, 391, 0.494, 769, 134, 193.103, 9, 143, 106, 83, 702, 49, 71.611, 6, 367, 195, 86, 25.0, 25.0, 25.0, 25.0]]

In [12]:
traspose = [list(i) for i in zip(*results)]
traspose

[[100000, 11477, 10330, 1147, 280, 28000],
 [1682, 164, 164, 145, 109, 145],
 [943, 587, 584, 394, 134, 391],
 [0.063, 0.119, 0.108, 0.02, 0.019, 0.494],
 [583, 329, 305, 30, 10, 769],
 [27.0, 43.5, 39.0, 5, 2, 134],
 [59.453, 69.982, 62.988, 7.91, 2.569, 193.103],
 [1, 1, 1, 1, 1, 9],
 [1152, 146, 143, 45, 1, 143],
 [603, 78, 73, 0, 0, 106],
 [338, 45, 34, 0, 0, 83],
 [737, 128, 113, 15, 11, 702],
 [65, 12, 11.0, 2.0, 1.0, 49],
 [106.045, 19.552, 17.688, 2.911, 2.09, 71.611],
 [20, 1, 1, 1, 1, 6],
 [943, 325, 316, 8, 2, 367],
 [568, 58, 39, 0, 0, 195],
 [364, 3, 3, 0, 0, 86],
 [17.48, 11.362, 11.346, 11.508, 25.0, 25.0],
 [27.145, 28.204, 28.141, 28.771, 25.0, 25.0],
 [34.174, 35.706, 35.799, 34.874, 25.0, 25.0],
 [21.201, 24.728, 24.714, 24.847, 25.0, 25.0]]

In [13]:
row_val = ['Ratings', 'Items', 'Users', 'Density', 'Maximum # ratings per item',  'Median # ratings per item', 'Average # ratings per item', 'Minimum # ratings per item', '# Items with at least 10 ratings', '# Items with at least 50 ratings', '# Items with at least 100 ratings', 'Maximum # ratings per user', 'Median # ratings per user', 'Average # ratings per user', 'Minimum # ratings per user', '# Users with at least 10 ratings', '# Users with at least 50 ratings', '# Users with at least 100 ratings', '% Ratings with value <= 2', '% Ratings with value > 2 and <= 3', '% Ratings with value > 3 and <= 4', '% Ratings with value > 4 and <= 5']
col_val = ['MovieLens 100K', 'MovieLens and IMDB', 'Training set', 'Original Evaluation set', 'Stratified Evaluation set', 'Stratified Evaluation set Random']

In [14]:
df_results = pd.DataFrame(np.array(traspose), columns=col_val)
df_results

,MovieLens 100K,MovieLens and IMDB,Training set,Original Evaluation set,Stratified Evaluation set,Stratified Evaluation set Random
0,100000.000,11477.000,10330.000,1147.000,280.000,28000.000
1,1682.000,164.000,164.000,145.000,109.000,145.000
2,943.000,587.000,584.000,394.000,134.000,391.000
3,0.063,0.119,0.108,0.020,0.019,0.494
4,583.000,329.000,305.000,30.000,10.000,769.000
5,27.000,43.500,39.000,5.000,2.000,134.000
6,59.453,69.982,62.988,7.910,2.569,193.103
7,1.000,1.000,1.000,1.000,1.000,9.000
8,1152.000,146.000,143.000,45.000,1.000,143.000
9,603.000,78.000,73.000,0.000,0.000,106.000
10,338.000,45.000,34.000,0.000,0.000,83.000
11,737.000,128.000,113.000,15.000,11.000,702.000
12,65.000,12.000,11.000,2.000,1.000,49.000
13,106.045,19.552,17.688,2.911,2.090,71.611
14,20.000,1.000,1.000,1.000,1.000,6.000
15,943.000,325.000,316.000,8.000,2.000,367.000
16,568.000,58.000,39.000,0.000,0.000,195.000
17,364.000,3.000,3.000,0.000,0.000,86.000
18,17.480,11.362,11.346,11.508,25.000,25.000
19,27.145,28.204,28.141,28.771,25.000,25.000
20,34.174,35.706,35.799,34.874,25.000,25.000
21,21.201,24.728,24.714,24.847,25.000,25.000

In [15]:
#df_results.to_csv('results_analysis.csv', index=False)